@page
@using ZealandMarketPlace.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ZealandMarketPlace.Pages.Items.ItemDetailsModel
@{
}

<script src="https://kit.fontawesome.com/671f3bdf44.js"></script>

<div class="card_details_container">
    <div class="card">

        <div class="image_card_container">
            <div class="image_card">
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Item.ImageData)" alt="image">
            </div>

        </div>
        @* <<<<<<< HEAD *@
        @*         <dt class="col-sm-2"> *@
        @*             @Html.DisplayNameFor(model => model.Item.Name) *@
        @*         </dt> *@
        @*         <dd class="col-sm-10"> *@
        @*             @Html.DisplayFor(model => model.Item.Name) *@
        @*         </dd> *@
        @*         <dt class="col-sm-2"> *@
        @*             @Html.DisplayNameFor(model => model.Item.Status) *@
        @*         </dt> *@
        @*         <dd class="col-sm-10"> *@
        @*             @Html.DisplayFor(model => model.Item.Status) *@
        @*         </dd> *@
        @*         <dt class="col-sm-2"> *@
        @*             @Html.DisplayNameFor(model => model.Item.Descritpion) *@
        @*         </dt> *@
        @*         <dd class="col-sm-10"> *@
        @*             @Html.DisplayFor(model => model.Item.Descritpion) *@
        @*         </dd> *@
        @*         <dt class="col-sm-2"> *@
        @*             @Html.DisplayNameFor(model => model.Item.Category) *@
        @*         </dt> *@
        @*         <dd class="col-sm-10"> *@
        @*             @Html.DisplayTextFor(model => model.Item.Category) *@
        @*         </dd> *@
        @*         <dt class="col-sm-2"> *@
        @*             @Html.DisplayNameFor(model => model.Item.Price) *@
        @*         </dt> *@
        @*         <dd class="col-sm-10"> *@
        @*             @Html.DisplayFor(model => model.Item.Price) *@
        @*         </dd> *@
        @*     </dl> *@
        @*     <br/> *@
        @*     <form method="post"> *@
        @*         <div> *@
        @*             <input asp-for="@Model.OwnerId" value="@Model.Item.UserId" hidden="hidden"/> *@
        @*             <button type="submit" class="btn btn-warning">Buy contact</button> *@
        @*         </div> *@
        @*     </form> *@
        @* *@
        @* *@
        @*     <div> *@
        @*         <a asp-page="/Items/GetItems">Back to List</a> *@
        @*     </div> *@
        @* *@
        @*     <div style="min-height: 200px"> *@
        @*         $1$ <form method="post" asp-page-handler="OnPostReview"> #1# *@
        @*         $1$     <label asp-for="@Model.Review.ReviewText">Review</label> #1# *@
        @*         $1$     <textarea asp-for="@Model.Review.ReviewText" id="reviewTest" placeholder="Write your review" rows="4" cols="50"></textarea> #1# *@
        @*         $1$     <select asp-for="@Model.Review.Rating" asp-items="Html.GetEnumSelectList<Rating>()"> #1# *@
        @*         $1$         <option selected="selected" value="">How many stars you will give?</option> #1# *@
        @*         $1$     </select> #1# *@
        @*         $1$     <div> #1# *@
        @*         $1$         <input type="submit" value="Submit" class="btn btn-primary"/> #1# *@
        @*         $1$     </div> #1# *@
        @*         $1$ </form> #1# *@
        @* ======= *@

        <div class="product_details_content">

            <div class="headline_page">
                <a asp-page="/Index" class="">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <h2 class="product_headline">@Model.Item.Name</h2>
            </div>

            <div class="product_info_detail">
                <div class="about_item">
                    <h2>about this item: </h2>
                    <p>@Html.DisplayFor(model => model.Item.Descritpion)</p>
                </div>

                <table>
                    <tr>
                        <td class="element_box">@Html.DisplayNameFor(model => model.Item.Name):</td>
                        <td>@Html.DisplayFor(model => model.Item.Name)</td>
                    </tr>
                    <tr>
                        <td class="element_box">@Html.DisplayNameFor(model => model.Item.Status):</td>
                        <td>@Html.DisplayFor(model => model.Item.Status)</td>
                    </tr>
                    <tr>
                        <td class="element_box">@Html.DisplayNameFor(model => model.Item.Category):</td>
                        <td>@Html.DisplayTextFor(model => model.Item.Category)</td>
                    </tr>
                    <tr>
                        <td class="element_box">@Html.DisplayNameFor(model => model.Item.Price):</td>
                        <td>@Html.DisplayFor(model => model.Item.Price)dkk</td>
                    </tr>
                </table>
            </div>

            <div class="contact_box">
                @{
                    if (Model.BoughtContacts.Contains(Model.Item.UserId))
                    {
                        <a class="button_contact" asp-page="/Contacts">See the contact</a>
                    }
                    else
                    {
                        <form method="post">
                            <input asp-for="@Model.OwnerId" value="@Model.Item.UserId" hidden="hidden"/>

                            <button type="submit" class="button_contact">Buy Contact</button>
                        </form>
                    }
                }


                <a asp-page="/Index" class="">
                    <i class="fa-solid fa-heart"></i>
                </a>

            </div>
        </div>
    </div>
</div>

<div class="review_container">
    <div class="review_box">
        @{
            if (Model.BoughtContacts.Contains(Model.Item.UserId))
            {
                        <form method="post" asp-page-handler="OnPostReview">
                            <textarea asp-for="@Model.Review.ReviewText" id="reviewTest" placeholder="Write your review"></textarea>
                            <div class="form_review">
                                <select class="classic" asp-for="@Model.Review.Rating" asp-items="Html.GetEnumSelectList<Rating>()">
                                    <option selected="selected" value="">How many stars you will give?</option>
                                </select>
                            </div>
                            <div class="button_area">
                                <input type="submit" class="review_button" value="Submit"/>
                            </div>
                        </form>
            }
            else
            {
                <h2>To write a rewiew, you need to buy the product first</h2>
            }
        }

    </div>
</div>