@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css">
 <script type="text/javascript" src="~/js/dropdown.js"></script>
<script src="https://kit.fontawesome.com/671f3bdf44.js"></script>


<section class="section_search_box">
    <div class="container_search_box">
        <div class="box_search_box">

            <div class="filtering_dropdown">
                <div class="main_slider_container">
                    <div class="main_option">All</div>
                    <div class="slider"></div>
                </div>
                <ul>
                    <li>All</li>
                    <li>Enum1</li>
                    <li>Enum2</li>
                    <li>Enum3</li>
                    <li>Enum4</li>
                    <li>Enum5</li>
                </ul>
            </div>

            <div class="filtering_field">
                <input type="text" class="input" placeholder="Search">

                <i class="fa-solid fa-magnifying-glass"></i>

            </div>
        </div>
    </div>
  
</section>



<main>
    <section class="card_section">
        @foreach (var item in Model.Items)
        {
            <div class="card_container">
                <div class="card_image">
                    @if (@item.ImageData == null)
                    {
                        <img alt="photo" src="">
                    }
                    else
                    {
                        <img alt="photo" src="data:image/png;base64,@Convert.ToBase64String(item.ImageData)">
                    }

                </div>


                <div class="card_text_content">
                    <div class="card_title">
                        <p class="text--medium">
                            @item.Name
                        </p>
                        <p class="text--medium text_bold">
                            @item.Price dkk
                        </p>
                    </div>
                    <div class="card_info">
                        <p class="text--medium">Patrik</p>
                        <a asp-page="/Items/ItemDetails" asp-route-id="@item.ItemId" class="button_details">Details</a>
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="button_delete_area">
                            <a asp-page="/Items/DeleteItem" asp-route-itemId="@item.ItemId" class="button_delete">Delete</a>
                        </div>
                    }

                </div>
            </div>
        }


    </section>
</main>