@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css">

<main>
    <section class="card_section">
        @foreach (var item in Model.Items)
        {
            <div class="card_container">
                <div class="card_image">
                    @if (@item.ImageData == null)
                    {
                        <img alt="photo" src="">
                    }
                    else
                    {
                        <img alt="photo" src="data:image/png;base64,@Convert.ToBase64String(item.ImageData)">
                    }

                </div>


                <div class="card_text_content">
                    <div class="card_title">
                        <p class="text--medium">
                            @item.Name
                        </p>
                        <p class="text--medium text_bold">
                            @item.Price dkk
                        </p>
                    </div>
                    <div class="card_info">
                        <p class="text--medium">Patrik</p>
                        <a asp-page="/Items/ItemDetails" asp-route-id="@item.ItemId" class="button_details">Details</a>
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="button_delete_area">
                            <a asp-page="/Items/DeleteItem" asp-route-itemId="@item.ItemId" class="button_delete">Delete</a>
                        </div>
                    }
                    else if (SignInManager.IsSignedIn(User))
                    {
                        <div class="button_favourite_area">
                            <input type="submit" value="Add Favourite" class="button_favourite" />
                        </div>
                    }

                </div>
            </div>
        }


    </section>
</main>